In [ ]:
#slight preprocessing/cleaning ajustment done in Excel power query

In [140]:

import pandas as pd 
import numpy as np

In [142]:
import seaborn as sns
import os 
import warnings

In [144]:
warnings.filterwarnings("ignore")

sns.set_style("whitegrid")

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [146]:
pd.set_option('display.max_columns', None)

pd.set_option('display.max_rows', 100)

pd.set_option('display.float_format', '{:.2f}'.format)

In [148]:
data_folder = r'C:\Users\avish\Desktop\Final Project\data CSV'

In [150]:
import pandas as pd
df1 = pd.read_csv(r'C:\Users\avish\Desktop\Final Project\data CSV\2009.csv', encoding='latin1')
print(df1.shape)

(3057, 15)

In [152]:
df2 = pd.read_csv(r'C:\Users\avish\Desktop\Final Project\data CSV\2010.csv', encoding='latin1')
df1 = pd.concat([df1, df2], ignore_index=True)

In [154]:
df3 = pd.read_csv(r'C:\Users\avish\Desktop\Final Project\data CSV\2011.csv', encoding='latin1')
df1 = pd.concat([df1, df3], ignore_index=True)

In [156]:
df4 = pd.read_csv(r'C:\Users\avish\Desktop\Final Project\data CSV\2012.csv', encoding='latin1')
df1 = pd.concat([df1, df4], ignore_index=True)

In [158]:
df5 = pd.read_csv(r'C:\Users\avish\Desktop\Final Project\data CSV\2013.csv', encoding='latin1')
df1 = pd.concat([df1, df5], ignore_index=True)

df6 = pd.read_csv(r'C:\Users\avish\Desktop\Final Project\data CSV\2014.csv', encoding='latin1')
df1 = pd.concat([df1, df6], ignore_index=True)

df7 = pd.read_csv(r'C:\Users\avish\Desktop\Final Project\data CSV\2015.csv', encoding='latin1')
df1 = pd.concat([df1, df7], ignore_index=True)

In [160]:
df8 = pd.read_csv(r'C:\Users\avish\Desktop\Final Project\data CSV\2016.csv', encoding='latin1')
df1 = pd.concat([df1, df8], ignore_index=True)

df9 = pd.read_csv(r'C:\Users\avish\Desktop\Final Project\data CSV\2017.csv', encoding='latin1')
df1 = pd.concat([df1, df9], ignore_index=True)

In [162]:

print( df1.shape)

(23638, 15)

In [166]:
df1.head()

,reference_number,easting,northing,number_of_vehicles,accident_date,time_24hr,1st_road_class,road_surface,lighting_conditions,weather_conditions,casualty_class,casualty_severity,sex_of_casualty,age_of_casualty,type_of_vehicle
0,3309,429093,436258,1,2009-01-01,55,Unclassified,Dry,Darkness: street lights present and lit,Fine without high winds,Pedestrian,Slight,Male,44,Car
1,2609,434723,435534,1,2009-01-02,2335,Unclassified,Dry,Darkness: street lights present and lit,Fine without high winds,Driver,Serious,Female,23,Car
2,2809,441173,433047,1,2009-01-02,1645,Unclassified,Dry,Darkness: street lights present and lit,Fine without high winds,Pedestrian,Slight,Female,12,Car
3,3809,428487,431364,1,2009-01-02,1723,A,Dry,Darkness: street lights present and lit,Fine without high winds,Pedestrian,Slight,Male,15,Car
4,3909,425928,435480,2,2009-01-02,1350,Unclassified,Dry,Daylight: street lights present,Fine without high winds,Driver,Slight,Female,34,Car

In [168]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23638 entries, 0 to 23637
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   reference_number     23638 non-null  object
 1   easting              23638 non-null  int64
 2   northing             23638 non-null  int64
 3   number_of_vehicles   23638 non-null  int64
 4   accident_date        23638 non-null  object
 5   time_24hr            23638 non-null  int64
 6   1st_road_class       23638 non-null  object
 7   road_surface         23637 non-null  object
 8   lighting_conditions  23638 non-null  object
 9   weather_conditions   23638 non-null  object
 10  casualty_class       23638 non-null  object
 11  casualty_severity    23638 non-null  object
 12  sex_of_casualty      23638 non-null  object
 13  age_of_casualty      23638 non-null  int64
 14  type_of_vehicle      23637 non-null  object
dtypes: int64(5), object(10)
memory usage: 2.7+ MB

In [170]:
df1.tail()

,reference_number,easting,northing,number_of_vehicles,accident_date,time_24hr,1st_road_class,road_surface,lighting_conditions,weather_conditions,casualty_class,casualty_severity,sex_of_casualty,age_of_casualty,type_of_vehicle
23633,4CV0902,430343,431175,2,12/31/2017,1515,U,Snow,Daylight: Street lights present,Snowing without high winds,Vehicle or pillion passenger,Slight,Male,21,Car
23634,4CV1387,427748,436446,3,12/31/2017,1935,U,Wet/Damp,Darkness: Street lights present and lit,Raining without high winds,Driver or rider,Slight,Male,23,Motorcycle 12Motorcycle over 500cccc to Motorc...
23635,4CV1544,420323,434279,2,12/31/2017,2111,B6381,Wet/Damp,Darkness: Street lights present and lit,Raining without high winds,Driver or rider,Slight,Male,20,Car
23636,51B1932,431947,435868,2,1/11/2017,2320,U,Wet/Damp,Darkness: Street lights present and lit,Fine without high winds,Driver or rider,Serious,Male,34,Motorcycle Motorcycle over 500cc0cc to 12Motor...
23637,56R0735,421554,435973,2,6/27/2017,1400,U,Wet/Damp,Daylight: Street lights present,Raining without high winds,Driver or rider,Slight,Male,27,Car0

In [172]:
df1['accident_date']

0        2009-01-01
1        2009-01-02
2        2009-01-02
3        2009-01-02
4        2009-01-02
            ...
23633    12/31/2017
23634    12/31/2017
23635    12/31/2017
23636     1/11/2017
23637     6/27/2017
Name: accident_date, Length: 23638, dtype: object

In [174]:
df1['accident_date'].unique()

array(['2009-01-01', '2009-01-02', '2009-01-03', ..., '12/29/2017',
       '12/30/2017', '12/31/2017'], dtype=object)

In [176]:
df1.to_excel(r'C:\Users\avish\Desktop\cleaned_data.xlsx', index=False)

In [210]:

def convert_mixed_date_formats(date):
    try:
        return pd.to_datetime(date, errors='raise', dayfirst=True).strftime('%Y-%m-%d')
    except Exception as e:
        return None 

df1['accident_date'] = df1['accident_date'].apply(convert_mixed_date_formats)
print(df1['accident_date'].head())
print(df1['accident_date'].isna().sum())

0    2009-01-01
1    2009-02-01
2    2009-02-01
3    2009-02-01
4    2009-02-01
Name: accident_date, dtype: object
0

In [211]:
nat_values_count = df1['accident_date'].isna().sum()

print(f"Number of NaT values in 'accident_date' column: {nat_values_count}")

Number of NaT values in 'accident_date' column: 0

In [183]:
df1.to_excel(r'C:\Users\avish\Desktop\cleaned_data.xlsx', index=False)

In [212]:
df1.head()

,reference_number,easting,northing,number_of_vehicles,accident_date,1st_road_class,road_surface,lighting_conditions,weather_conditions,casualty_class,casualty_severity,sex_of_casualty,age_of_casualty,type_of_vehicle,time_24hr_cleaned
0,3309,429093,436258,1,2009-01-01,Unclassified,Dry,Darkness: street lights present and lit,Fine without high winds,Pedestrian,Slight,Male,44,Car,00:55
1,2609,434723,435534,1,2009-02-01,Unclassified,Dry,Darkness: street lights present and lit,Fine without high winds,Driver,Serious,Female,23,Car,23:35
2,2809,441173,433047,1,2009-02-01,Unclassified,Dry,Darkness: street lights present and lit,Fine without high winds,Pedestrian,Slight,Female,12,Car,16:45
3,3809,428487,431364,1,2009-02-01,A,Dry,Darkness: street lights present and lit,Fine without high winds,Pedestrian,Slight,Male,15,Car,17:23
4,3909,425928,435480,2,2009-02-01,Unclassified,Dry,Daylight: street lights present,Fine without high winds,Driver,Slight,Female,34,Car,13:50

In [251]:
def clean_time_format(time_str):
    time_str = time_str.zfill(4)
    
    if time_str.isdigit():
        time_int = int(time_str)
        if time_int < 0 or time_int > 2359: 
            return '00:00' 
        hours = time_int // 100
        minutes = time_int % 100
        if minutes >= 60:  
            return '00:00' 
        return f'{hours:02}:{minutes:02}'
    return '00:00'

In [253]:
df1['time_24hr_cleaned'] = df1['time_24hr'].astype(str).apply(clean_time_format)
print(df1[['time_24hr', 'time_24hr_cleaned']].head())

KeyError: 'time_24hr'

In [ ]:
df1.head()

In [ ]:
nat_values = df1[df1['time_24hr_cleaned'].isna()]

In [ ]:
df1 = df1.drop(columns=['time_24hr'])

df1.head()

In [ ]:
df1.duplicated().sum()

In [ ]:
df1 = df1.drop_duplicates()

In [ ]:
df1.duplicated().sum()

In [221]:
missing_values = df1.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

In [223]:
df1 = df1.dropna(axis=0)

In [225]:
missing_values = df1.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

In [227]:
df1['age_of_casualty'] = df1['age_of_casualty'].astype(int)
df1['accident_date'] = pd.to_datetime(df1['accident_date'], errors='coerce')

In [229]:
df1['lighting_conditions'] = df1['lighting_conditions'].str.lower().str.strip()

In [231]:
df1.isnull().sum()

reference_number       0
easting                0
northing               0
number_of_vehicles     0
accident_date          0
1st_road_class         0
road_surface           0
lighting_conditions    0
weather_conditions     0
casualty_class         0
casualty_severity      0
sex_of_casualty        0
age_of_casualty        0
type_of_vehicle        0
time_24hr_cleaned      0
dtype: int64

In [54]:
#outliers are kpet as of now, will be handled later

In [233]:
df1['type_of_vehicle'].unique()

array(['Car', 'Bus or coach (17 or more passenger seats)',
       'Taxi/Private hire car', 'M/cycle 50cc and under', 'Pedal cycle',
       'Other Vehicle', 'Motorcycle over 125cc and up to 500cc',
       'Motorcycle over 50cc and up to 125cc',
       'Goods vehicle 3.5 tonnes mgw and under', 'Motorcycle over 500cc',
       'Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw',
       'Goods vehicle 7.5 tonnes mgw and over',
       'Minibus (8 â\x80\x93 16 passenger seats)',
       'Agricultural vehicle (includes diggers etc.)', 'Ridden horse',
       'Minibus (8 â\x80\x93 16 passenger seat', 'Mobility Scooter',
       'Motorcycle - Unknown CC',
       'Minibus (8 Ã¢â\x82¬â\x80\x9c 16 passenger s', 'Other Vehicle ',
       'Minibus (8   16 passenger seats)', 'Tram / Light rail',
       'Motorcycle 12Motorcycle over 500cccc to Motorcycle over 500cc00cc',
       'Motorcycle Motorcycle over 500cc0cc and under', 'Car0',
       'Pedal cyclePedal cycle',
       'Motorcycle Motorcycle over 500cc0cc to 12Motorcycle over 500cccc',
       'Pedal cycleCar',
       'Motorcycle Motorcycle over 500cc0cc and underPedal cycle',
       'Motorcycle Motorcycle over 500cc0cc and under0', 'Car7',
       'Pedal cycle0', 'CarTaxi/Private hire car',
       'Motorcycle Motorcycle over 500cc0cc and underMotorcycle Motorcycle over 500cc0cc and under'],
      dtype=object)

In [235]:
df1['type_of_vehicle'] = df1['type_of_vehicle'].replace({
    'Minibus (8 â\x80\x93 16 passenger seats)': 'Minibus (8-16 passenger seats)',
    'Minibus (8 â\x80\x93 16 passenger seat': 'Minibus (8-16 passenger seats)',
    'Minibus (8   16 passenger seats)': 'Minibus (8-16 passenger seats)',
    'Motorcycle over 500cccc to Motorcycle over 500cc00cc': 'Motorcycle',
    'Motorcycle Motorcycle over 500cc0cc to 12Motorcycle over 500cccc': 'Motorcycle',
    'Pedal cyclePedal cycle': 'Pedal cycle',
    'Motorcycle Motorcycle over 500cc0cc and underPedal cycle': 'Motorcycle',
    'CarTaxi/Private hire car': 'Car',
    'Pedal cycle0': 'Pedal cycle',
    'Motorcycle Motorcycle over 500cc0cc and underMotorcycle Motorcycle over 500cc0cc and under': 'Motorcycle',
    'Motorcycle - Unknown CC': 'Motorcycle'
})

In [237]:
df1['type_of_vehicle'].unique()

array(['Car', 'Bus or coach (17 or more passenger seats)',
       'Taxi/Private hire car', 'M/cycle 50cc and under', 'Pedal cycle',
       'Other Vehicle', 'Motorcycle over 125cc and up to 500cc',
       'Motorcycle over 50cc and up to 125cc',
       'Goods vehicle 3.5 tonnes mgw and under', 'Motorcycle over 500cc',
       'Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw',
       'Goods vehicle 7.5 tonnes mgw and over',
       'Minibus (8-16 passenger seats)',
       'Agricultural vehicle (includes diggers etc.)', 'Ridden horse',
       'Mobility Scooter', 'Motorcycle',
       'Minibus (8 Ã¢â\x82¬â\x80\x9c 16 passenger s', 'Other Vehicle ',
       'Tram / Light rail',
       'Motorcycle 12Motorcycle over 500cccc to Motorcycle over 500cc00cc',
       'Motorcycle Motorcycle over 500cc0cc and under', 'Car0',
       'Pedal cycleCar', 'Motorcycle Motorcycle over 500cc0cc and under0',
       'Car7'], dtype=object)

In [239]:
df1['type_of_vehicle'] = df1['type_of_vehicle'].replace({
    'Car0': 'Car',
    'Pedal cycleCar': 'Car',
    'Motorcycle 12Motorcycle over 500cccc to Motorcycle over 500cc00cc': 'Motorcycle',
    'Motorcycle Motorcycle over 500cc0cc and under': 'Motorcycle',
    'Motorcycle Motorcycle over 500cc0cc and under0': 'Motorcycle',
    'Other Vehicle ': 'Other Vehicle',
    'Minibus (8 Ã¢â\x82¬â\x80\x9c 16 passenger s': 'Minibus (8-16 passenger seats)',
    'Motorcycle over 500cccc to Motorcycle over 500cc00cc': 'Motorcycle',
    'Pedal cyclePedal cycle': 'Pedal cycle',
    'Motorcycle - Unknown CC': 'Motorcycle'
})

df1['type_of_vehicle'].unique()

array(['Car', 'Bus or coach (17 or more passenger seats)',
       'Taxi/Private hire car', 'M/cycle 50cc and under', 'Pedal cycle',
       'Other Vehicle', 'Motorcycle over 125cc and up to 500cc',
       'Motorcycle over 50cc and up to 125cc',
       'Goods vehicle 3.5 tonnes mgw and under', 'Motorcycle over 500cc',
       'Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw',
       'Goods vehicle 7.5 tonnes mgw and over',
       'Minibus (8-16 passenger seats)',
       'Agricultural vehicle (includes diggers etc.)', 'Ridden horse',
       'Mobility Scooter', 'Motorcycle', 'Tram / Light rail', 'Car7'],
      dtype=object)

In [59]:
df1['type_of_vehicle'] = df1['type_of_vehicle'].replace({
    'Car7': 'Car',
    'M/cycle 50cc and under': 'Motorcycle',
    'Motorcycle over 125cc and up to 500cc': 'Motorcycle',
    'Motorcycle over 50cc and up to 125cc': 'Motorcycle',
    'Motorcycle over 500cc': 'Motorcycle',
    'Motorcycle': 'Motorcycle',
    'Minibus (8-16 passenger seats)': 'Minibus',
    'Bus or coach (17 or more passenger seats)': 'Bus',
    'Pedal cycle': 'Pedal cycle',
    'Other Vehicle': 'Other Vehicle',
    'Goods vehicle 3.5 tonnes mgw and under': 'Goods Vehicle',
    'Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw': 'Goods Vehicle',
    'Goods vehicle 7.5 tonnes mgw and over': 'Goods Vehicle',
    'Agricultural vehicle (includes diggers etc.)': 'Other Vehicle',
    'Ridden horse': 'Other Vehicle',
    'Mobility Scooter': 'Other Vehicle',
    'Tram / Light rail': 'Other Vehicle',
    'Taxi/Private hire car': 'car',
    'Other Vehicle ': 'Other Vehicle'
})

df1['type_of_vehicle'].unique()

array(['Car', 'Bus', 'car', 'Motorcycle', 'Pedal cycle', 'Other Vehicle',
       'Goods Vehicle', 'Minibus'], dtype=object)

In [60]:
df1.head()

,reference_number,easting,northing,number_of_vehicles,accident_date,1st_road_class,road_surface,lighting_conditions,weather_conditions,casualty_class,casualty_severity,sex_of_casualty,age_of_casualty,type_of_vehicle,time_24hr_cleaned
0,3309,429093,436258,1,2009-01-01,Unclassified,Dry,darkness: street lights present and lit,Fine without high winds,Pedestrian,Slight,Male,44,Car,00:55
1,2609,434723,435534,1,2009-02-01,Unclassified,Dry,darkness: street lights present and lit,Fine without high winds,Driver,Serious,Female,23,Car,23:35
2,2809,441173,433047,1,2009-02-01,Unclassified,Dry,darkness: street lights present and lit,Fine without high winds,Pedestrian,Slight,Female,12,Car,16:45
3,3809,428487,431364,1,2009-02-01,A,Dry,darkness: street lights present and lit,Fine without high winds,Pedestrian,Slight,Male,15,Car,17:23
4,3909,425928,435480,2,2009-02-01,Unclassified,Dry,daylight: street lights present,Fine without high winds,Driver,Slight,Female,34,Car,13:50

In [241]:
df1['type_of_vehicle'].unique()

array(['Car', 'Bus or coach (17 or more passenger seats)',
       'Taxi/Private hire car', 'M/cycle 50cc and under', 'Pedal cycle',
       'Other Vehicle', 'Motorcycle over 125cc and up to 500cc',
       'Motorcycle over 50cc and up to 125cc',
       'Goods vehicle 3.5 tonnes mgw and under', 'Motorcycle over 500cc',
       'Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw',
       'Goods vehicle 7.5 tonnes mgw and over',
       'Minibus (8-16 passenger seats)',
       'Agricultural vehicle (includes diggers etc.)', 'Ridden horse',
       'Mobility Scooter', 'Motorcycle', 'Tram / Light rail', 'Car7'],
      dtype=object)

In [243]:
df1['type_of_vehicle'] = df1['type_of_vehicle'].replace({
    'car': 'Car',
})

df1['type_of_vehicle'].unique()

array(['Car', 'Bus or coach (17 or more passenger seats)',
       'Taxi/Private hire car', 'M/cycle 50cc and under', 'Pedal cycle',
       'Other Vehicle', 'Motorcycle over 125cc and up to 500cc',
       'Motorcycle over 50cc and up to 125cc',
       'Goods vehicle 3.5 tonnes mgw and under', 'Motorcycle over 500cc',
       'Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw',
       'Goods vehicle 7.5 tonnes mgw and over',
       'Minibus (8-16 passenger seats)',
       'Agricultural vehicle (includes diggers etc.)', 'Ridden horse',
       'Mobility Scooter', 'Motorcycle', 'Tram / Light rail', 'Car7'],
      dtype=object)

In [96]:
column_names = df1.columns.tolist()
print(column_names)

['reference_number', 'easting', 'northing', 'number_of_vehicles', 'accident_date', '1st_road_class', 'road_surface', 'lighting_conditions', 'weather_conditions', 'casualty_class', 'casualty_severity', 'sex_of_casualty', 'age_of_casualty', 'type_of_vehicle', 'time_24hr_cleaned']

In [255]:
df1.head()

,reference_number,easting,northing,number_of_vehicles,accident_date,1st_road_class,road_surface,lighting_conditions,weather_conditions,casualty_class,casualty_severity,sex_of_casualty,age_of_casualty,type_of_vehicle,time_24hr_cleaned
0,3309,429093,436258,1,2009-01-01,Unclassified,Dry,darkness: street lights present and lit,Fine without high winds,Pedestrian,Slight,Male,44,Car,00:55
1,2609,434723,435534,1,2009-02-01,Unclassified,Dry,darkness: street lights present and lit,Fine without high winds,Driver,Serious,Female,23,Car,23:35
2,2809,441173,433047,1,2009-02-01,Unclassified,Dry,darkness: street lights present and lit,Fine without high winds,Pedestrian,Slight,Female,12,Car,16:45
3,3809,428487,431364,1,2009-02-01,A,Dry,darkness: street lights present and lit,Fine without high winds,Pedestrian,Slight,Male,15,Car,17:23
4,3909,425928,435480,2,2009-02-01,Unclassified,Dry,daylight: street lights present,Fine without high winds,Driver,Slight,Female,34,Car,13:50

In [257]:
from sklearn.preprocessing import LabelEncoder

In [259]:
categorical_columns = [
    "1st_road_class", "road_surface", "lighting_conditions", 
    "weather_conditions", "casualty_class", "casualty_severity", 
    "sex_of_casualty", "type_of_vehicle"
]

label_encoders = {}
for col in ["casualty_severity"]: 
    label_encoders[col] = LabelEncoder()
    df1[col] = label_encoders[col].fit_transform(df1[col])


df1 = pd.get_dummies(df1, columns=["1st_road_class", "road_surface", "lighting_conditions",
                                   "weather_conditions", "casualty_class", "sex_of_casualty",
                                   "type_of_vehicle"], drop_first=True)

In [261]:
df1.head()

,reference_number,easting,northing,number_of_vehicles,accident_date,casualty_severity,age_of_casualty,time_24hr_cleaned,1st_road_class_A(M),1st_road_class_A1(M),1st_road_class_A168,1st_road_class_A58,1st_road_class_A58(M),1st_road_class_A6038,1st_road_class_A61,1st_road_class_A6110,1st_road_class_A6120,1st_road_class_A62,1st_road_class_A6210,1st_road_class_A63,1st_road_class_A639,1st_road_class_A64,1st_road_class_A64(M),1st_road_class_A642,1st_road_class_A643,1st_road_class_A647,1st_road_class_A65,1st_road_class_A650,1st_road_class_A653,1st_road_class_A654,1st_road_class_A656,1st_road_class_A657,1st_road_class_A658,1st_road_class_A659,1st_road_class_A660,1st_road_class_B,1st_road_class_B1,1st_road_class_B1217,1st_road_class_B1224,1st_road_class_B1271,1st_road_class_B6123,1st_road_class_B6126,1st_road_class_B6127,1st_road_class_B6128,1st_road_class_B6129,1st_road_class_B6135,1st_road_class_B6137,1st_road_class_B6152,1st_road_class_B6153,1st_road_class_B6154,1st_road_class_B6155,1st_road_class_B6156,1st_road_class_B6157,1st_road_class_B6159,1st_road_class_B6164,1st_road_class_B6381,1st_road_class_B6451,1st_road_class_C,1st_road_class_M1,1st_road_class_M62,1st_road_class_M621,1st_road_class_Motorway,1st_road_class_U,1st_road_class_Unclassified,road_surface_Dry,road_surface_Flood,road_surface_Flood (surface water over 3cm deep),road_surface_Frost / Ice,road_surface_Frost/ Ice,road_surface_Frost/Ice,road_surface_Snow,road_surface_Wet / Damp,road_surface_Wet/Damp,lighting_conditions_darkness: no street lighting,lighting_conditions_darkness: street lighting unknown,lighting_conditions_darkness: street lights present and lit,lighting_conditions_darkness: street lights present and lit and lit,lighting_conditions_darkness: street lights present but unlit,lighting_conditions_daylight: street lights present,weather_conditions_Fine with high winds,weather_conditions_Fine without high winds,weather_conditions_Fog or mist if hazard,weather_conditions_Fog or mist (if hazard),weather_conditions_Fog or mist â if haza,weather_conditions_Fog or mist â if hazard,weather_conditions_Other,weather_conditions_Raining with high winds,weather_conditions_Raining without high winds,weather_conditions_Snowing with high winds,weather_conditions_Snowing without high winds,weather_conditions_Unknown,casualty_class_Driver or rider,casualty_class_Driver/Rider,casualty_class_Passenger,casualty_class_Pedestrian,casualty_class_Vehicle or pillion passenger,sex_of_casualty_Male,type_of_vehicle_Bus or coach (17 or more passenger seats),type_of_vehicle_Car,type_of_vehicle_Car7,type_of_vehicle_Goods vehicle 3.5 tonnes mgw and under,type_of_vehicle_Goods vehicle 7.5 tonnes mgw and over,type_of_vehicle_Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw,type_of_vehicle_M/cycle 50cc and under,type_of_vehicle_Minibus (8-16 passenger seats),type_of_vehicle_Mobility Scooter,type_of_vehicle_Motorcycle,type_of_vehicle_Motorcycle over 125cc and up to 500cc,type_of_vehicle_Motorcycle over 500cc,type_of_vehicle_Motorcycle over 50cc and up to 125cc,type_of_vehicle_Other Vehicle,type_of_vehicle_Pedal cycle,type_of_vehicle_Ridden horse,type_of_vehicle_Taxi/Private hire car,type_of_vehicle_Tram / Light rail
0,3309,429093,436258,1,2009-01-01,2,44,00:55,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,2609,434723,435534,1,2009-02-01,1,23,23:35,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,2809,441173,433047,1,2009-02-01,2,12,16:45,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,3809,428487,431364,1,2009-02-01,2,15,17:23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,3909,425928,435480,2,2009-02-01,2,34,13:50,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False